@import "./main.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    overflow-x: hidden;
    height: 100%;
    --orange-500: #ff3300;
    --orange-400: #ff523b;
    --blue-900: #012a38;
    --blue-800: #4f6169;
    --blue-100: #92a1a8;
    --blue-50: #d3d9dc;
    --grey-50: #efefef;
    --white: #ffffff;
    --lime-500: #bff90b;
    --bone-50: #e0dbc6;
    --opal-100: #a2c1c4;
}

* {
    box-sizing: border-box;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: Inter, sans-serif;
    color: var(--blue-900);
    font-size: 16px !important;
    line-height: 1.5 !important;
    -moz-tab-size: 4;
    tab-size: 4;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
